.DS_Store
*~
.rvmrc
.bundle

#haskell junk
*.o
a.out


beautiful-racket/**/compiled

.stack-work
haskellbook/haskell-programming-1.0RC2-ereader.pdf
haskellbook/haskell-programming-1.0RC2-screen.pdf

haskellbook/data/dict.txt
pollen-experimentation/compiled/
