.DS_Store
*~
.rvmrc
.bundle

#haskell junk
*.o
a.out


beautiful-racket/**/compiled

haskellbook/.stack-work
haskellbook/haskell-programming-1.0RC2-ereader.pdf
haskellbook/haskell-programming-1.0RC2-screen.pdf




haskellbook/hangman/.stack-work/
haskellbook/hangman/LICENSE
haskellbook/hangman/README.md
haskellbook/hangman/data/dict.txt